:root {
    /* LIGHT https://coolors.co/palette/ccd5ae-e9edc9-fefae0-faedcd-d4a373 */
    /* DARK https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25 */
    /* Plus #111 */

    --root-color: #67311b;
    --root-mid-color: #9E6047;
    --root-lightest-color: #FFE7D5;
    --root-complementary-blue-color: #71A6FF;

    --text-color: #111;
    --border-color: #111;
    --starter-border-color: rgb(35, 153, 6);
    --goal-border-color: rgb(201, 164, 0);
    --frame-color: rgba(103, 49, 27, 0.2);
    --starter-frame-color: rgba(60, 223, 19, 0.2);
    --backing-color: var(--root-lightest-color);

    --mulch-color: rgb(233, 182, 134);

    --default-font-size: 16px;
    --default-line-height: 22px;

    --bigger-font-size: 22px;
    --bigger-line-height: 28px;

    --inner-border: solid var(--border-color) 0.75mm;
    --starter-inner-border: solid var(--starter-border-color) 0.75mm;
    --goal-inner-border: solid var(--goal-border-color) 0.75mm;

    --box-shadow: 1px -1px 4px #111 inset;
}

/* GOAL */
.goal {
    font-family: 'Noto Sans';
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);
    width: 88mm;
    height: 63mm;
    border: solid var(--border-color) 1.5mm;
    background-color: var(--border-color);
    box-sizing: border-box;
    display: inline-flex;
    align-items: stretch;
    border-radius: 2mm;
    vertical-align: top;
}

.goal_frame {
    background-image: url('/images/frame/leaves.png');
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5mm;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-radius: 2mm;
    position: relative;
}

.goal_top_bar {
    background-color: var(--backing-color);
    padding: 0 1mm;
    border: var(--goal-inner-border);
    box-shadow: var(--box-shadow);
    font-weight: bold;
    text-align: center;
    font-size: var(--bigger-font-size);
    line-height: var(--bigger-line-height);
    opacity: 90%;
}

.goal_condition_box {
    /* align-self: flex-end; */
    background-color: var(--backing-color);
    padding: 0 1mm;
    border: var(--goal-inner-border);
    box-shadow: var(--box-shadow);
    text-align: center;
    opacity: 90%;
}

.goal_effect_text {
    border-top: var(--goal-inner-border);
}

/* CARD */
.card {
    font-family: 'Noto Sans';
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);
    width: 63mm;
    height: 88mm;
    border: solid var(--border-color) 1.5mm;
    background-color: var(--border-color);
    box-sizing: border-box;
    display: inline-flex;
    align-items: stretch;
    border-radius: 2mm;
    vertical-align: top;
}

.card_frame {
    background-image: url('/images/frame/framecombined.png');
    background-color: var(--frame-color);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5mm;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    border-radius: 2mm;
    position: relative;
}

.card_frame.starter {
    background-color: var(--starter-frame-color);
}

/* Top */
.top_bar {
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);
    background-color: var(--backing-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1mm;
    border: var(--inner-border);
    font-weight: bold;
    box-shadow: var(--box-shadow);
}

.top_bar .symbol {
    height: var(--default-font-size);
}


/* Middle */
.image_box {
    /* aspect-ratio: 4 / 3; */
    box-sizing: border-box;
    border-left: var(--inner-border);
    border-right: var(--inner-border);
    padding: 0;
}

.image {
    width: 100%;
    display: block;
    /* object-fit: cover; */
}

.effect_box {
    font-size: var(--default-font-size);
    line-height: var(--default-line-height);
    background-color: var(--backing-color);
    flex-grow: 1;
    padding: 1mm;
    box-sizing: border-box;
    border: var(--inner-border);
    box-shadow: var(--box-shadow);
}

.effect_box .symbol {
    height: var(--default-font-size);
}

/* Bottom */
.bottom_bar {
    margin: auto;
    position: relative;
    top: -20px;
    height: 2mm;
}

.mulch_number {
    font-size: var(--default-font-size);
    line-height: calc(var(--default-line-height) - 2px);
    background-color: var(--mulch-color);
    border: var(--inner-border);
    padding: 1mm;
    border-radius: 99mm;
    display: flex;
    align-items: center;
    position: relative;
}

.starter .mulch_number {
    border: var(--starter-inner-border);
}

.mulch_number .symbol {
    height: var(--default-font-size);
    display: block;
    bottom: 0;
}

/* Misc Style components */
b {
    font-weight: bold;
}

.red {
    color: red;
}

.symbol {
    display: inline-block;
    margin: 0;
    margin-left: 0.15mm;
    margin-right: 0.15mm;
    padding: 0;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
    height: var(--default-font-size);
}


.card_frame.starter > div {
    border-color: var(--starter-border-color);
}