.sheet {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; */
    font-size: 0;
}

@media print {
    .card {
        break-inside: avoid;
        page-break-inside: avoid;
    }
}