{% macro card(data) -%}
    <div class="card">
        <div class="card_frame {% if data['starter'] -%}starter{% endif %}">
            <div class="top_bar">
                <div class="name_text">{{ data['name'] }}</div>
                <div class="cost_number">{{ data['cost'] | safe }}</div>
            </div>
            <div class="image_box">
                <img class="image" src="/images/card/{{ data['image'] }}">
            </div>
            <div class="effect_box">
                <div class="effect_text">{{ data['effect'] | safe }}</div>
            </div>
            <div class="bottom_bar">
                <div class="mulch_number">{{ data['mulch'] | safe }}</div>
            </div>
        </div>
    </div>
{%- endmacro %}