<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/sheet.css">
    <link rel="stylesheet" href="/css/card.css">
    <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" /> -->
</head>

{% from "goal.html" import goal with context %}

<body>
    <div class="sheet">
        {% for goal_data in goals %}
            {{ goal(data=goal_data) }}
        {% endfor %}
    </div>
</body>

</html>