<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/sheet.css">
    <link rel="stylesheet" href="/css/card.css">
    <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" /> -->
</head>

{% from "card.html" import card with context %}

<body>
    <div class="sheet">
        {% for card_data in cards %}
            {{ card(data=card_data) }}
        {% endfor %}
    </div>
</body>

</html>